					<div>
						<!-- modal -Reset-->
						
							<div class="modal-content">
							<div class="modal-header">
							<h4 class="modal-title" translate="inv.reset.title"></h4>
							</div>
							<div class="modal-body">

							<div class="form-group">
							<p>{{ 'inv.reset.message' | translate }}</p>
							</div>
							<div class="modal-footer">
							<button ng-click="cancel()" type="button" class="btn btn-default"  translate="inv.reset.abort"></button>
							<button ng-click="resetStorage();" type="button" class="btn btn-primary" translate="inv.reset.yes"></button>
							</div>
							</div><!-- /.modal-content -->
					

					</div><!-- /.modal -Reset-->